<h4>Register</h4>
<form class="form-horizontal" [formGroup]="signupForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
    </mat-form-field>

    <div class="task-actions-row">
        <button mat-raised-button color="primary" (click)="register()">Register</button>
    </div>
</form>